#$Id:

PLATFORM = ucmini
PROGRAMMER ?= avrdude

PROGRAMMER_PART ?= -pm128rfa1 -Uefuse:w:0xff:m

AVR_FUSE_H ?= 0xd9
AVR_FUSE_L ?= 0xff

$(call TOSMake_include_platform,avr)

ucmini: $(BUILD_DEPS)
	@:
